@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

#about {

    padding-top: 6vh;
    font-family: Inter;
}

.about-btn {
    background-color: white;
    color: #585def;
    padding: 0.7rem;
    width: 150px;
    border-radius: 2rem;
    font-weight: bold;


}