#ex-sect {

    padding-top: 10vh;
}

.gradient-text {
    background: linear-gradient(#d6b2ea, #5b29c0);
    /* Define your gradient */
    -webkit-background-clip: text;
    /* Clips the background to the text */
    -webkit-text-fill-color: transparent;
    /* Makes the text itself transparent */
    background-clip: text;
    /* Support for non-webkit browsers */
    text-fill-color: transparent;
    /* Fallback in case -webkit-text-fill-color doesn't work */
}

.ex-btn {
    padding: 1rem;
    border-radius: 1rem;
    background-color: rgb(55, 65, 81);
    color: white;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 14px;

}

.ex-btn:hover {
    background-color: rgb(60, 60, 60);
}

.ex-ul {
    list-style-type: disc;
    /* or square, circle, etc. */
    color: white
}

.gradient-text-blue {
    background: linear-gradient(90deg, #7b9dd3, #0748de);
    /* Define your gradient */
    -webkit-background-clip: text;
    /* Clips the background to the text */
    -webkit-text-fill-color: transparent;
    /* Makes the text itself transparent */
    background-clip: text;
    /* Support for non-webkit browsers */
    text-fill-color: transparent;
    /* Fallback in case -webkit-text-fill-color doesn't work */
}

.web-link {
    color: rgb(50, 141, 191);

    text-decoration: underline;

}

.web-link:hover {
    color: #7090d9
}