@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

#hero-section{
    background-color: black;
    height: 100vh;
    width: 100vw;
    margin:0rem;
    padding:0rem;
    font-family: Inter;
   
}

.blob-outer-container{
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 0;
    inset: 0;
    margin: auto;
    filter: blur(100px);
}
.blob-inner-countainer{
    border-radius: 99999px;
    position: absolute;
    inset: 0;
    margin: auto;
    width:100vw;
    height: 100vh;
    min-width: 1000px;
    overflow: hidden;
    background-color: white;
    transform: scale(0.6);
}
.blob{
    position: absolute;
    width: 100vw;
    height: 100vh;
    inset: 0;
    margin: auto;
    background: conic-gradient(from 0deg, #f4b237, #e65e54, #7d0ad5, #4540f8) ;

    animation: spinBlob 4s linear infinite;

}

@keyframes spinBlob{
    0%{
        transform: rotate(0deg) scale(2);
    }
    100%{
        transform: rotate(1turn) scale(2);
    }
}

.text-overlay {
    position: relative;
    z-index: 1; /* Ensure text is above the background */
}

.text-overlay::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
    z-index: -1; /* Place it behind the text */
}

.hero-text{
    opacity: 1;
    z-index: 10;
    position: relative; /* Make sure it's positioned relative to the blob */

   
}

.gradient-text {
    background: linear-gradient(90deg,  #f4b237, #e65e54, #7d0ad5, #4540f8); /* Define your gradient here */
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}




.btn:link,
.btn:visited {
 
    text-decoration: none;
    padding: 15px 90px;
    display: inline-block;
    border-radius: 100px;
    transition: all .2s;
    position: absolute;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-white {
    background-color: #fff;
    color: black;
    font-weight: bold;

}

.btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

.btn-white::after {
    background-color: #fff;
}

.btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.btn-animated {
    animation: moveInBottom 5s ease-out;
    animation-fill-mode: backwards;
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}