#proj-scroll {
    display: flex;

    overflow-x: scroll;
    overflow-y: hidden;
    height: 550px;
    white-space: nowrap;
    scroll-behavior: smooth;
    background-color: black;




}


.gradient-text {
    background: linear-gradient(90deg, #ffffff, #2f18e4);
    /* Define your gradient */
    -webkit-background-clip: text;
    /* Clips the background to the text */
    -webkit-text-fill-color: transparent;
    /* Makes the text itself transparent */
    background-clip: text;
    /* Support for non-webkit browsers */
    text-fill-color: transparent;
    /* Fallback in case -webkit-text-fill-color doesn't work */
}

.git-button {
    padding: 1rem;
    border-radius: 1rem;

}

.git-button:hover {
    background-color: rgb(60, 60, 60);
}